<div  class ="form-group row" >
<h2 class = "page-header">{{recipe.recipe_name}} ({{recipe.category}})
<p> <small>Contributor: {{recipe.contributor}} <br>
Spiciness: {{recipe.spiciness}}</p></small>
<small><a href = "edit/recipe_id?id={{recipe._id}}" >Edit</a></small>

</h2>

</div>
<div class = "form-group row">
  <div class = <"form-group">
    {{#if recipe.picture}}
      <img src=/images/{{recipe.picture}}  height="500" width = "500" style="float:left;border-radius:8px; padding:50px" alt="photo cannot be rendered">
    {{/if}}

  <p>Description: {{recipe.description}}</p>
</div>
</div>
<div class = "row">
    <div >
    <label>Ingredients: </label> <ul>
      {{#each recipe.ingredients}}
      <li> {{this}} </li>
      {{/each}}
    </ul>
  </div>
  <div style = "float:right; border-left: 1px solid red; ">
    <label> Spices: </label>
    <ul>
      {{#each recipe.spices}}
          <li> {{this}} </li>
      {{/each}}
    </ul>
  </div>
</div>
<div  class ="form-group row" >
    <p>Directions: {{recipe.directions}}</p>
    <p><small>Source: {{recipe.source}} </br>
    {{#if recipe.editedBy}}
      Edited by: {{recipe.editedBy}}
    {{/if}}
</small>
</p>
</div>
